section {
  background-color: lightgray;
  padding: 8px;
}
article {
  border: 1px solid #ccc;
  padding: 4px;
  margin: 4px;
  width: 100px;
  height: 100px;
}
.display-flex {
  display: flex;
}
.nav-link {
  padding: 8px;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.height-500px {
  height: 500px;
}
.flex-grow-10 {
  flex-grow: 10;
}
